.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color:greenyellow;
    margin: 0;
    font-size: 40px;
}

.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li{
    padding-left: 15px;
    padding-top: 15px;
}

.nav li a{
    text-decoration: none;
    color: greenyellow;
}


.nav .nav-search {
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.nav .nav-search input {
    border: 1px solid greenyellow;
    flex: 1;
    color: greenyellow;
    height: 35px;
    border-right: 0px;
}

.nav .nav-search button {
    border: 1px solid greenyellow;
    color: greenyellow;
    height: 39px;
    border-left: 0px;
}