<div class="seller-auth">
    <div *ngIf="!showLogin" class="Sign-Up">
        <h1>Seller Sign-Up</h1>

        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input 
            class="form-input" 
            type="text" 
            ngModel name="name" 
            placeholder="Enter Your Name"
            ngModel
            />
            <input 
            class="form-input" 
            type="password" 
            ngModel name="password" 
            placeholder="Enter Your password"
            ngModel
            />
            <input 
            class="form-input" 
            type="text" 
            name="password" 
            placeholder="Enter Your email"
            ngModel
            />
            <button class="form-button">SignUp</button>
            <a class="auth-toggle-link" (click)="openLogin()"> Already Have Account? Click to Login </a>
        </form>
    </div>
    <!--login Area -->
    <div *ngIf="showLogin"  class="Login">
        <h1>Seller Login</h1>

        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input 
            class="form-input" 
            type="text" 
            ngModel name="password" 
            placeholder="Enter Your email"
            ngModel
            />
            <input 
            class="form-input" 
            type="password" 
            ngModel name="password" 
            placeholder="Enter Your password"
            ngModel
            />
            
            <button class="form-button">Login</button>
            <a class="auth-toggle-link" (click)="openSignUp()"> Don't Have Account? Click to Sign-Up </a>
        </form>
    </div>
</div>